#executables and scripts
*.bat
*.sh
*.exe

#files with data
*.vti
*.vtp
*.csv

#files for testing
test.cpp

#files with ParaView config
*.pvsm

#files with notes
*.txt

#folders for zipping and sending
send/
*.zip

#folders with data for debugging
results_old/
results_debug/
results_save_discharge_44mins/
rysunki/


#folders with vscode config
.vscode/

#folders for building app
build/
build_debug/

#folders for ares
ares_scripts/
v2_for_ares/


#too big files
langumir_2_phi_vel.mp4
ch4/v2/animations/Langmuir/langumir_2_phi_vel.mp4
ch4/old_v3
