#executables and scripts
*.bat
*.sh
*.exe

#files with data
*.vti
*.vtp
*.csv

#files for testing
test.cpp

#files with ParaView config
*.pvsm

#files with notes
*.txt

#folders for zipping and sending
send/
*.zip

#folders with data for debugging
results_old/
results_debug/

#folders with vscode config
.vscode/

#folders for building app
build/
build_debug/


